<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="parkway.tools.nhibernate" type="Parkway.Tools.NHibernate.Cfg.NHibernateConfigurationSection, Parkway.Tools.NHibernate" />
  </configSections>
  <parkway.tools.nhibernate configSource="Parkway.Nhibernate.Cfg.xml" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>